*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 65%;
}

body {
    font-family: SourceSansPro-Bold !important;
    background-color: #ffffff;
    color: #4e5967;
    line-height: 2.5rem;
}

h1 {
    font-family: SourceSansPro-Bold;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}


hr {
    margin: 0.5rem 0;
    border: 0.005px groove #4e5967;
}

.head {
    background-image: url("headphones_hero_1.jpg");
    display: inline-block;
    object-fit: cover;
    columns: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;

}

ul .logo {
    margin-top: 10px;
    margin-left: 170px;
    width: 170px;
    height: 30px;
}


li {
    float: left;
}

li a {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;

}

li a:hover {
    background-color: #4e5967;
    opacity: 0.9;
}

ul .lists {
    margin-top: 10px;
    grid-column: auto;
    gap: 5px;
}

.heading {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    grid-row: 1 / -1;
    padding-top: 150px;
    margin-top: 100px;
    margin-bottom: 0;
}

.subtitle1 {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
}

.call-to-action {
    display: block;
    background-color: #ff6565;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 1px;
    border-color: #ff6565;
    padding: 14px 40px 14px 40px;
    border-radius: 25px;
    margin-top: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

.call-to-action:hover {
    background-color: #ffffff;
    color: #4e5967;
    opacity: 0.9;
}

.paragraph {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    padding: 15px 5px 15px 5px;
    font-size: 1.5rem;
    margin: 90px 365px 110px 365px;
}

.heading1 {
    margin-top: 100px;
    color: cc;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 3rem;
}

.first-paragraph {
    text-align: center;
    color: #4e5967;
    margin: 30px 365px 0px 365px;
    padding: 15px 5px 15px 5px;
    font-size: 1.5rem;
    text-align: center;
}

.what-we-do {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    padding-right: 120px;
    padding-left: 160px;
    gap: 80px;
    text-align: center;
}

.paragraph2 {
    font-size: 1.4rem;
}
