*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 65%;
}

body {
    font-family: SourceSansPro-Bold !important;
    display: block;
    background-color: #ffffff;
    color: #4e5967;
    line-height: 1.9rem;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: SourceSansPro-Bold;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}


hr {
    margin: 0.5rem 0;
    border: 0.005px ridge #4e5967;
    margin: auto;
    margin-bottom: 20px;
    padding: auto;
    width: 100%;
    text-align: center;
}
.navigation{
    display: inline-block;
}
.head {
    background-image: url("headphones_hero_1.jpg");
    display: inline-block;
    object-fit: cover;
    background-size: 100%;
    columns: #ffffff;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;

}

ul .logo {
    margin-top: 10px;
    margin-left: 120px;
    width: 170px;
    height: 30px;
}


li {
    float: left;
}

li a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;

}

li .logo:hover {
    background-color: #4e5967;
    opacity: 0.9;
}

.lists {
    margin-top: 10px;
    grid-column: auto;
    gap: 2px;
}
li .lists:hover{

    color: red !important;
}
.heading {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    grid-row: 1 / -1;
    padding-top: 120px;
    margin-top: 70px;
    margin-bottom: 0;
}

.subtitle1 {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    padding-top: 0px;
}

.call-to-action {
    display: block;
    background-color: #ff6565;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: 0.5px;
    border-color: #ff6565;
    padding: 9px 22px 9px 22px;
    border-radius: 25px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.75rem;
}

.call-to-action:hover {
    background-color: #ffffff;
    color: #4e5967;
    opacity: 0.9;
}

.paragraph {
    text-align: center;
    color: #ffffff;
    padding: 15px 5px 15px 5px;
    font-size: 1.2rem;
    margin: 35px 250px 55px 250px;
}

.heading1 {
    margin-top: 70px;
    color: cc;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 2rem;
}

.first-paragraph {
    text-align: center;
    color: #4e5967;
    font-size: 1.2rem;
    margin: 18px 250px 55px 250px;
    padding: 15px 5px 15px 5px;
    text-align: center;
}

.what-we-do {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding-right: 100px;
    padding-left: 120px;
    gap: 50px;
    text-align: center;
}

.paragraph2 {
    font-size: 1.2rem;
    margin-top: 8px;
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 720){
   .what-we-do, .pentagones, .foot{
       grid-template-columns: 1fr 1fr;
   }
}
@media only screen and (max-width: 480px){
    .what-we-do, .pentagones, .foot{
        grid-template-columns: 1fr;
        }
        li .lists {
            display: none;
            flex-direction: column;
            background: #333;
            position: absolute;
            top: 60px;
            right: 0;
            width: 200px;
            padding: 1rem;
          }
        
          li .lists.active {
            display: flex;
          }
        
          .hamburger {
            display: block;
          }
}
